[Unit]
Description=uos sysmig agent
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/lib/migration-tools-agent/agent_env/bin/python3 /usr/lib/migration-tools-agent/uos-sysmig/migration-tools-client.py
ExecStop=/bin/kill -INT $MAINPID

[Install]
WantedBy=multi-user.target
