[Unit]
Description=uos sysmig server
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/lib/migration-tools-server/index.py
ExecStop=/bin/kill-INT $MAINPID

[Install]
WantedBy=multi-user.target
