[Unit]
Description=uos sysmig server
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/lib/uos-sysmig-server/server_env/bin/python3 /usr/lib/uos-sysmig-server/index.py
ExecStop=/bin/kill -INT $MAINPID

[Install]
WantedBy=multi-user.target
