.head-2 {
    color: #102b6a;
  }
  .el-pagination {
    margin-top: 20px;
  }
  .center-1 {
    padding-left:22px ;
  }
  .center-1-2 {
    display: flex;
    justify-content: flex-end;
    margin-left: 18px;
  }
  .col {
    margin-right: 10px;
  }
  .box {
    position: relative;
  }
  .head {
    display: flex;
    align-items: center;
    margin-bottom:8px ;
  }
  .head-1 {
    width: 9px;
    height: 20px;
    /* background: paleturquoise; */
    border-left: 4px solid #2b4490;
  }
  .el-row {
    margin-top: 15px;
  }
  .el-table {
    margin-top: 20px;
  }
