<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>管理首页 | 统信迁移工具</title>
    <link type="text/css" rel="stylesheet" href="static/css/admin/framework.css" />
	<link href="static/css/admin/style.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="static/css/admin/main.css" />
	<link type="text/css" rel="stylesheet" href="static/css/admin/alert.css" />

</head>
<body>
<div class="page">
<!--the main content begin-->
	<div class="container">
	<!--the content-->
		<div class="pageHeader" >
			<div class="segment">
				<h3 class="ui dividing header">	
					<img src="static/images/logo.png" style="width: 120px; height: 50px;"/>				
  					<label style="padding-left:320px;font-size:28px;">统信服务器系统迁移软件</label>
				</h3>
			</div>				
		</div>

	<div class="pageHeader">
        <div class="segment">
            <h5 class="ui dividing  header">
  		        <i class="large info alternate icon"></i>
  		        <div class="content">重要提示</div>
            </h5>
        </div>
    </div>

	</br>
	</br>
	<p>1. 迁移一旦开始，过程不可逆。请确保您已将系统的数据与设置进行【完整备份】。</p>
	<p>2. 迁移前请获得管理员许可，再进行迁移工作。</p>
	<p>3. 请提前获取【统信服务器操作系统 V20 】的软件仓库地址。</p>
	<p>4. 迁移过程中请保证稳定的网络连接。</p>
	<p>5. 迁移过程中请不要进行任何操作。</p>
	<p>6. 该迁移工具目前仅支持 CentOS 7 / CentOS 8 操作系统。</p>
	<p>7. 请确保在 '/var/cache' 中至少有 10GB 的可用空间。</p>
    </br>
    </br>
	</br>
		</br>

    <div class="menter_btn_a_lf" >
        <hr style="opacity: 0.1;border: 1px solid #4C4D4E;width:99%;" />
    </br>
    </br>
        <button id="check_note"  data-locale="Next_Step" type="submit" class="menter_btn_a_a_lf" name="" style="text-align: center; line-height: 37px; color:black; font-size:18px;opacity: 1" onclick="save()"><style>a{TEXT-DECORATION:none}</style>下一步</button>
    </div>

    </div>
</div>

<script type="text/javascript" src="static/js/admin/jquery.min.js"></script>
<script type="text/javascript" src="static/js/admin/framework.js"></script>
<script type="text/javascript" src="static/js/admin/jquery.zclip.min.js"></script>
<script type="text/javascript" src="static/js/admin/alert.js"></script>

<script type="text/javascript" src="static/js/admin/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/admin/json.js"></script>

<script>

    window.onload = function(){
        $("#loading").hide();
　　}

    function close() {
        window.opener = null;
        window.open("", "_self", "");
        window.close();
    }

</script>

</body>
</html>
