<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>管理首页 | 统信迁移工具</title>
    <link type="text/css" rel="stylesheet" href="static/css/admin/framework.css" />
	<link href="static/css/admin/style.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="static/css/admin/main.css" />
	<link type="text/css" rel="stylesheet" href="static/css/admin/alert.css" />

</head>
<body>
<div class="page">
<!--the main content begin-->
	<div class="container">
	<!--the content-->
		<div class="pageHeader" >
			<div class="segment">
				<h3 class="ui dividing header">	
					<img src="static/images/logo.png" style="width: 120px; height: 50px;"/>				
  					<label style="padding-left:320px;font-size:28px;">统信服务器系统迁移软件</label>
				</h3>
			</div>				
		</div>

	<div class="pageHeader">
        <div class="segment">
            <h5 class="ui dividing  header">
  		        <i class="large edit alternate icon"></i>
  		        <div class="content">检查软件仓库路径</div>
            </h5>
        </div>
    </div>
	  <div class="two fields">
			<div class="field">
				<label>软件仓库路径:</label>
				<div class="ui left labeled icon input">
					<input type="text" id="repo_pwd" style="width: 450px;" value="请输入软件仓库路径">
					<i class="edit icon"></i>
				</div>
				 <div id="repo1" style="display: none;"><img src="../static/images/login.gif" width="13" height="13" style="padding-left:0px;"/><label style="font-size:13px;font-family:”微软雅黑”;font-weight:bold;">正在连接软件仓库......</label></div>
				 <div id="repo2" style="display: none;"><img src="../static/images/u70.svg" width="13" height="13" style="padding-left:0px;"/><label id="repo_info" style="font-size:13px;font-family:”微软雅黑”;font-weight:bold;"></label></div>
			</div>
	  </div>

    <div class="menter_btn_a_lf" >
        <hr style="opacity: 0.1;border: 1px solid #4C4D4E;width:99%;" />
    </br>
        <button onclick="close_tool();" data-toggle="modal" data-target="#exampleModal" type="submit" class="menter_btn_a_a_lf" data-locale="Exit" style="text-align: center; line-height: 37px; color:black; font-size:18px;"><style>a{TEXT-DECORATION:none}</style>取消</button>
		<button id="check_repo" disabled="disabled" data-locale="Next_Step" type="submit" class="menter_btn_a_a_lf" name="" style="text-align: center; line-height: 37px; color:black; font-size:18px;opacity: 0.2" onclick="save()"><style>a{TEXT-DECORATION:none}</style>下一步</button>
    </div>

    </div>
</div>

<script type="text/javascript" src="static/js/admin/jquery.min.js"></script>
<script type="text/javascript" src="static/js/admin/framework.js"></script>
<script type="text/javascript" src="static/js/admin/jquery.zclip.min.js"></script>
<script type="text/javascript" src="static/js/admin/alert.js"></script>
<link type="text/css" rel="stylesheet" href="static/css/admin/alert.css" />

<script type="text/javascript" src="static/js/admin/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/admin/json.js"></script>

<script>

    window.onload = function(){
        $("#loading").hide();
　　}

	function close_tool() {
        alert("确定关闭迁移软件吗");
	}

	$("#repo_pwd").bind("input propertychange",function(event){
		if ($("#repo_pwd").val() != "") {
			document.getElementById('check_repo').style.opacity = 1
			document.getElementById('check_repo').removeAttribute("disabled");
		} else {
			document.getElementById('check_id').style.opacity = 0.2
			document.getElementById('check_id').setAttribute("disabled", true);
		}
    });

</script>

</body>
</html>